$dark-color: #3E4147;
$base-color: #00AAFF;
$bg-color: #f7f8f8;
$base-font-color: #333;
$dark-font-color: #666;
$light-font-color: #999;
$nav-font-color: #5F5F5F;
$base-border-color: #E5E5E5;
$list-border-color: #F2F2F2;
$app-header-height: 90px;
$app-nav-height: 80px;
$app-subnav-height: 70px;
$app-breadcrumb-height: 60px;
$app-nav-line-color: #ECECEC;
